apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
      annotations:
        redeploy-check: "commit-1"
    spec:
      containers:
        - name: myapp
          image: savanchukpavlo/step_5_backend:latest
          ports:
            - containerPort: 8080
